.container{
	background-color:white;
	position: relative;
	width: 100%;
}

.display-4{
	text-align: center;
	font-size: 90px;
	font-weight: bold;
    padding: 90px 0 20px 0; 
    color: red;
}

p{
    text-align: center;
    font-weight: bold;
	font-size: 30px;
	padding-bottom: 40px;
}